section, footer, nav {
  display: block;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  -webkit-text-size-adjust: none;
  color: #333;
	background-color: #3b3b3b;
}

a#linkedin img {
	width: 2em;
	height: 2em;
	margin: .2em;
	border-radius: 1em;
}

a#github img {
	width: 2em;
	height: 2em;
	margin: .2em;
	border-radius: 1em;
}

a#stackoverflow img {
	width: 2em;
	height: 2em;
	margin: .2em;
	border-radius: 1em;
}

#socialIcons {
	height: 2.4em;
	display: inline-block;
	float: right;
	text-align: center;
}

a {
  color: hsl( 220, 90%, 40% );
  text-decoration: none;
}

a:hover {
  background-color: hsl( 220, 90%, 40% );
  color: #3b3b3b;
}

#options {
  position: absolute;
  z-index: 100;
  margin-bottom: 40px;
}

button {
  font-size: 16px;
  -webkit-appearance: push-button;
}

footer {
  border-top: 1px solid #CCC;
  font-size: 0.8em;
  position: relative;
  z-index: 100;
}

#background {
	position: absolute;
	width: 69%;
	margin-left: -34.5%;
	left: 50%;
	height: 250px;
  background:  #f8f8f8;
}

#header {
  height: 250px;
  width: 70%;
  position: relative;
	margin-left: -35%;
	left: 50%;
	background-image: url('../images/background.jpg') 70% 100%;
	background-image: -webkit-linear-gradient(right, 
  	rgba(248,248,248,0) 0%, 
    rgba(248,248,248,0) 60%,
    rgba(248,248,248,1) 90%,
    rgba(248,248,248,1) 100%
  ),
  url(../images/background.jpg);
	background-size: 60% 100%;
	background-repeat: no-repeat;
	background-position: right;
	z-index: 2;
}

#header h1 {
	color: #515151;
	font-size: 4em;
	text-align: center;
	display: inline-block;
	float: left;
	margin-left: .1em;
}

#disclaimer {
  color: red;
  font-weight: bold;
  display: none;
}
.no-csstransforms3d #disclaimer { display: block; }

hr {
  border: none;
  border-top: 1px solid #CCC;
}

code {
  font-family: 'Monaco', 'Menlo', monospace;
}

.information {
  text-align: center;
  margin: auto;
  width: 60%;
  min-width: 600px;
}

.info {
  display: none;
  color: #dddddd;
}

#scheme-toggle {
  float: right;
}

a {
  color: #aaaadd;
}

a:hover {
  color: #BF8282;
	background-color: rgba(0,0,0,0);
}

.selected {
  color: #aaaaaa;
}

.paragraph {
  text-align: left;
  display: block;
}

#screenshot {
	width: 100%;
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	top: 0px;
	left: 0px;
	z-index: 1;
	display: none;
}

#whiteOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(200,200,200,0.5);
	top: 0px;
	left: 0px;
	z-index: 1;
	display: none;
}

#emailModal {
	padding: 20px;
  background: #bbb;
  display: block;
  position: absolute;
  top: 20%; 
  left: 20%; 
  right: 20%;
  bottom: 20%; 
  z-index: 2;
  display: none;
  text-align: center;
}

#emailModalText p {
	font-size: 1.5em;
}

#emailModal div {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#emailModal h3 {
	position: absolute;
	top: 0px;
	right: 10px;
	color: #515151;
}

#emailModal h3:hover {
	color: red;
	cursor: pointer;
}

#navbar_wrapper { 
	width: 100%;
	height: 50px;
}

div#navbar { 
  background: #515151; 
	width: 70%;
	top: 10px;
	left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
	z-index: 2;
	text-align: center;
} 

div#navbar ul { 
  list-style: none; 
  margin: 0; 
  padding: 0; 
	display: inline-block;
} 

div#navbar ul li { 
  margin: 0; 
  padding: 0; 
  display: inline; 
  -webkit-transition: all .2s; /* Safari */
  -webkit-transition-timing-function: linear; /* Safari */
  transition: all 0.2s;
  transition-timing-function: linear;
} 

div#navbar ul a:link{ 
  margin: 0; 
  padding: .3em .4em .3em .4em; 
  text-decoration: none; 
  font-weight: bold; 
  font-size: 1.5em; 
  color: #AAAAAA; 
} 

div#navbar ul a:active{ 
  margin: 0; 
  padding: .3em .4em .3em .4em; 
  text-decoration: none; 
  font-weight: bold; 
  font-size: 1.5em; 
  color: #227755; 
} 

div#navbar ul li:hover{ 
  margin: 0; 
  padding: .6em .4em .4em .4em; 
  text-decoration: none;
  background-color: #b3b3b3;
}
div#navbar ul li:nth-child(1):hover {
  background-color: #BF8282;
}
div#navbar ul li:nth-child(2):hover {
  background-color: #ABBF87;
}
div#navbar ul li:nth-child(3):hover {
  background-color: #9495BA;
}
div#navbar ul li:nth-child(4):hover {
  background-color: #D9DA87;
}
div#navbar ul li:nth-child(5):hover {
  background-color: #78ACB3;
}
div#navbar ul li:nth-child(6):hover {
  background-color: #B881C7;
}

div#navbar ul a:hover {
  font-weight: bold; 
  font-size: 1.5em; 
  color: #f6f0cc; 
}

div#navbar a:visited {
	color: #AAAAAA;
}
