body {
  font-family: 'Antic', sans-serif;
	background-image: url("/blog/pictures/background.jpg");  
	background-repeat: no-repeat;
	background-size: 100% 100%;
  background-attachment: fixed;
	min-height: 100%;
	min-width: 443;
}

h1 {
	font-family: 'Antic', sans-serif;
	color: #515151;
	font-size: 3em;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

a:link {
	color: #5078A1;
}

a:hover {
	color: #D16B81;
}

a:visited {
	color: #8058A8;
}

div.post {
	width: 400px;
  height: 400px;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
	margin: auto;
	cursor:pointer;
}

div.post figure {
	position: relative;
	transform-style: preserve-3d;
	transition: 1s transform;
	font-size: 1.6rem;
	margin: auto;
	overflow: hidden;
	height: 100%;
	opacity: 100%;
}
div.post figure img {
	display: block;
  max-width: auto;
  max-height: 400px;
  margin: auto;
  position: absolute;
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
}

div.post figure figcaption {
	position: absolute;
	width: 100%; 
	height: 100%; 
	top: 0;
	transform: rotateY(.5turn) translateZ(1px);
	background: rgba(255,255,255,0.9);
	padding-top: 45%;
	opacity: 0;
	transition: .3s .3s opacity;
	font-family: 'Oxygen', sans-serif;
}

div.post figure h5 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transform: rotateY(.5turn) translateZ(1px);
	opacity: 0;
	background: rgba(0,0,0,0);
	transition: .3s .3s opacity;
	font-family: 'Oxygen', sans-serif;
	color: #515151;
}

div.post:hover figure { 
	transform: rotateY(.5turn); 
}

div.post:hover figure { 
	transform: rotateY(.5turn); 
}

div.post:hover figure figcaption { 
	opacity: 1; 
}

div.post:hover figure h5 {
	opacity: 1;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.center {
	display:table-cell;
  vertical-align:middle;
}

.title-bar {
	width: 100%;
	height: 100px;
	line-height: 100px;
	display:table;
  text-align: center;
}

.footer-bar {
	width: 100%;
	height: 100px;
	display:table;
  text-align: center;
}

.content {
	color: #3b3b3b;
	height: 100%;
	width: 70%;
	margin: auto;
	text-align: center;
	padding: 10px;
	min-width: 420px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
	display: none;
}

#modalOverlay {
  z-index: 1;
}

#pictureOverlay {
  z-index: 3;
}

.modal {
  background: #eee;
	padding-top: 20px;
	padding-bottom: 20px;
  display: block;
	width: 70%;
	margin: auto;
	text-align: center;
}

#post-image {
	text-align: center;
	margin-bottom: 10px;
}

#post-image img {
	max-width: 80%;
	max-height: 500px;
}

#post-image img:hover {
	cursor: pointer;
}

div.post-text {
	min-width: 500px;
	width: 75%;
	max-width: 900px;
	text-align: left;
	margin: auto;
	display: block;
	background: #fff;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.modal h2 {
	font-family: 'Antic', sans-serif;
	font-size: 3em;
}

.post-text p {
	font-family: 'Oxygen', sans-serif;
	font-size: 1.25em;
	color: #515151;
}

#post-date h4{
	font-family: 'Oxygen', sans-serif;
}

#pictureViewer {
  background-color: rgb(10,10,10);
	background-repeat: no-repeat;
  background-position: center;
  display: block;
  position: fixed;	
  top: 0px;
  left: 50px;
  right: 50px;
	bottom: 0px;
  z-index: 4;
	display: none;
	text-align: center;
}

.full-screen-picture {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
  transform: translate(-50%,-50%);
}

#pictureSlide {
	width: 100%;
	height: 100%;
}

#imageCaption {
	width: 100%;
	height: 6%;
	position: absolute;
	bottom: 0;
	background-color: rgba(44, 54, 67, 0.75);
}

#imageCaption p {
	color: #dedede;
	font-size: 1em;
	font-family: 'Oxygen', sans-serif;
}

#rightPictureArea {
	background: transparent;
	position: absolute;
	width: 45%;
	height: 100%;
	right: 5%;
	top: 0;
	z-index: 10;
}

#leftPictureArea {
	background: transparent;
	position: absolute;
	width: 45%;
	height: 100%;
	left: 5%;
	top: 0;
	z-index: 10;
}

#rightPictureArea:hover {
	cursor: url('../pictures/rightArrow.png'), default;
}

#leftPictureArea:hover {
	cursor: url('../pictures/leftArrow.png'), default;
}

.close-button {
	position: absolute;
	top: -10px;
	right: 20px;
	z-index: 2;
}

h1.close-button {
	font-size: 2em;
	color: #515151;
	font-family: 'Oxygen', sans-serif;
}

.close-button:hover {
	color: #E83C3C;
	cursor: pointer;
}

.round {
		padding: 10px 40px;
    border-radius: 25px;
}

nav {
  width: 100%;
  height: 50px;
}

div#navbar {
  background: #515151;
	position: relative;
  width: 70%;
  top: 10px;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  z-index: 2;
  text-align: center;
}

div#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

div#navbar ul li {
  margin: 0;
  padding: 0;
  display: inline;
  -webkit-transition: all .2s; /* Safari */
  -webkit-transition-timing-function: linear; /* Safari */
  transition: all 0.2s;
  transition-timing-function: linear;
}

div#navbar ul a:link{
  margin: 0;
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  color: #AAAAAA;
}

div#navbar ul a:active{
  margin: 0;
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  color: #227755;
}

div#navbar ul:not(.post-titles)>li:hover{
  margin: 0;
  padding: .6em .4em .4em .4em;
  text-decoration: none;
  background-color: #b3b3b3;
}
div#navbar ul li:nth-child(1):hover {
  background-color: #BF8282;
}
div#navbar ul li:nth-child(2):hover {
  background-color: #ABBF87;
}
div#navbar ul li:nth-child(3):hover {
  background-color: #9495BA;
}
div#navbar ul li:nth-child(4):hover {
  background-color: #D9DA87;
}
div#navbar ul li:nth-child(5):hover {
  background-color: #78ACB3;
}
div#navbar ul li:nth-child(6):hover {
  background-color: #B881C7;
}

div#navbar ul a:hover {
  font-weight: bold;
  font-size: 1.5em;
  color: #f6f0cc;
}

div#navbar a:visited {
  color: #AAAAAA;
}

#navbar ul.post-titles {
	position:absolute;
	left: 20%;
	width: auto;
	background:#515151;
	display: none;
}
#navbar ul.post-titles li {
	width: auto;
}
#navbar ul.post-titles li a {
	display:block;
	padding:15px 10px;
	color:#b3b3b3;
}
#navbar ul.post-titles li:hover a {
	background:#ABBF87;
	color: #f6f0cc;
}
#navbar ul li:hover ul.post-titles {
	display:block;
}

#header {
	background-color: rgba(200, 200, 200, 0.5);
	width: 70%;
	height: 100%;
	margin: auto;
	vertical-align: middle;
	margin-top: 0px;
	margin-bottom: 0px;
}

#prevImage {
	position: absolute;
	width: 30px;
	height: 30px;
	margin-top: -26px;
	top: 50%;
	left: 20px;
	z-index: 3;
}

#nextImage {
	width: 30px;
	height: 30px;
	position: absolute;
	margin-top: -26px;
	top: 50%;
	right: 20px;
	z-index: 3;
}

#prevImage:hover, #nextImage:hover {
	cursor: pointer;
}

#controlDiv {
	width: 100%;
	height: 100%;
}

#pictures {
	height: 100%;
	width: 100%;
}

#postBody {
	background-image: url("/blog/pictures/postBackground.jpg");  
}

#current-post {
	background-color: #3b3b3b;
}

#current-post:hover {
	background-color: #3b3b3b;
}
